// modal style @mixin

@mixin modal-section {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  .modal-content {
    background-color: whitesmoke;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .close {
      width: 100%;
      color: #aaaaaa;
      padding-left: 90%;
      font-size: 30px;
      &:hover,
      &:focus {
        color: #333;
        text-decoration: none;
        font-size: 32px;
        cursor: pointer;
      }
    }
    .movies-style {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 20%;
        margin: 1% 5%;
      }
      .modals-details {
        width: 60%;
        padding-left: 5px;
        #modal-title {
          text-align: center;
          font-family: "Luckiest Guy", cursive;
        }
        h3 {
          text-align: center;
          font-family: "Caveat Brush", cursive;
        }
        #modal-genre {
          color: grey;
          font-style: italic;
          font-family: "Lemonada", cursive;
          padding: 5px 0px 10px 5px;
        }
        #no-display {
          display: none;
        }
        p {
          text-align: justify;
          font-family: "Carter One", cursive;
          padding-top: 10px;
        }
      }
      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        img {
          width: 50%;
        }
        .modals-details {
          width: 95%;
          padding: 0px;
        }
      }
    }
    .actors {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .no-display {
        display: none;
      }
      .actor-char {
        width: 30%;
        padding: 10px 5px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 20%;
          border-radius: 10px;
          @media screen and (max-width: 768px) {
            width: 50%;
          }
        }
        h2 {
          text-align: center;
          font-size: 0.75rem;
          font-family: "Luckiest Guy", cursive;
          margin: 5px 0px;
          height: 50px;
        }
      }
    }
    .trailer {
      margin: 20px auto;
    }
    .no-display {
      display: none;
    }
  }
}
