.app-style {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-style .welcome-style {
  font-family: "Luckiest Guy", cursive;
}

.app-style .welcome-style h1 {
  cursor: pointer;
  position: relative;
  text-align: center;
  font-size: 2rem;
  padding: 15px 20px;
  margin: 5px 10%;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: animateHeading 5s linear infinite;
          animation: animateHeading 5s linear infinite;
}

@-webkit-keyframes animateHeading {
  0% {
    background-color: lightgray;
    color: #333;
  }
  50% {
    background-color: #333;
    color: lightgray;
  }
  100% {
    background-color: lightgray;
    color: #333;
  }
}

@keyframes animateHeading {
  0% {
    background-color: lightgray;
    color: #333;
  }
  50% {
    background-color: #333;
    color: lightgray;
  }
  100% {
    background-color: lightgray;
    color: #333;
  }
}

.app-style .welcome-style h1 span {
  position: absolute;
  display: block;
}

.app-style .welcome-style h1 span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#333));
  background: linear-gradient(90deg, transparent, #333);
  -webkit-animation: animateSpan1 1s linear infinite;
          animation: animateSpan1 1s linear infinite;
}

@-webkit-keyframes animateSpan1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes animateSpan1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.app-style .welcome-style h1 span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#333));
  background: linear-gradient(180deg, transparent, #333);
  -webkit-animation: animateSpan2 1s linear infinite;
          animation: animateSpan2 1s linear infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes animateSpan2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes animateSpan2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.app-style .welcome-style h1 span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#333));
  background: linear-gradient(270deg, transparent, #333);
  -webkit-animation: animateSpan3 1s linear infinite;
          animation: animateSpan3 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes animateSpan3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes animateSpan3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.app-style .welcome-style h1 span:nth-child(4) {
  bottom: -100%;
  left: 0;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#333));
  background: linear-gradient(360deg, transparent, #333);
  -webkit-animation: animateSpan4 1s linear infinite;
          animation: animateSpan4 1s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes animateSpan4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

@keyframes animateSpan4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.app-style .welcome-style .no-display {
  display: none;
}

.app-style .welcome-style .movie-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.app-style .welcome-style .movie-list .container-movies {
  width: 45%;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.app-style .welcome-style .movie-list .container-movies h3 {
  width: 100%;
  text-align: center;
}

.app-style .welcome-style .movie-list .container-movies img {
  width: 18%;
  margin: 1%;
}

@media screen and (max-width: 768px) {
  .app-style .welcome-style .movie-list .container-movies {
    width: 95%;
  }
}

.app-style form {
  width: 90%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Acme", sans-serif;
}

@media screen and (min-width: 768px) {
  .app-style form {
    width: 50%;
  }
}

.app-style form h4 {
  width: 100%;
  text-align: center;
}

.app-style form .form-style {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-style form .form-style .text-field {
  border: 1px solid lightgray;
  outline: none;
  width: 90%;
  border-radius: 10px;
  font-family: "Carter One", cursive;
  padding: 10px;
}

.app-style form .form-style button {
  width: 10%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.app-style .movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.app-style .movie .no-display {
  display: none;
}

.app-style .movie .display-msg {
  display: block;
  font-family: "Luckiest Guy", cursive;
}

.app-style .movie .searched-movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 5px 0;
  width: 40%;
  -webkit-box-shadow: 3px 3px 6px lightgray;
          box-shadow: 3px 3px 6px lightgray;
}

@media screen and (max-width: 768px) {
  .app-style .movie .searched-movie {
    width: 90%;
  }
}

.app-style .movie .searched-movie img {
  width: 33%;
}

.app-style .movie .searched-movie .about-style {
  width: 60%;
}

.app-style .movie .searched-movie .about-style h2 {
  font-family: "Luckiest Guy", cursive;
  padding-bottom: 5px;
}

.app-style .movie .searched-movie .about-style p {
  text-align: justify;
  font-family: "Patrick Hand", cursive;
}
/*# sourceMappingURL=MovieApp.css.map */