@import "./welcome-animation";
@import "./modal-style";

// movies page app styling
.app-style {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .no-display {
    display: none;
  }
  // modal style
  .modal {
    @include modal-section;
  }
  // welcome section animation @include
  .welcome-style {
    @include welcome;
  }
  // now playing, popular, top rated and upcoming movies list style
  .movie-list {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
    .container-movies {
      width: 45%;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      h1 {
        padding-bottom: 2px;
        font-family: "Caveat Brush", cursive;
        font-size: 2rem;
        width: 100%;
        text-align: center;
      }
      img {
        cursor: pointer;
        width: 18%;
        margin: 1%;
        transition: 0.5s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    @media screen and (max-width: 768px) {
      .container-movies {
        width: 95%;
      }
    }
  }

  // form part for search movies style
  form {
    width: 90%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: "Acme", sans-serif;
    @media screen and (min-width: 768px) {
      width: 50%;
    }
    h4 {
      width: 100%;
      text-align: center;
    }
    .form-style {
      margin-bottom: 15px;
      width: 100%;
      display: flex;
      .text-field {
        border: none;
        border-bottom: 2px solid #333 !important;
        outline: none;
        width: 90%;
        border-radius: 10px;
        font-family: "Carter One", cursive;
        padding: 10px;
      }
      button {
        width: 10%;
        background-color: transparent;
        cursor: pointer;
        border: none;
        outline: none;
      }
    }
  }
  .no-display {
    display: none;
  }
  .movie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    .modal {
      @include modal-section;
    }
    .no-display {
      display: none;
    }
    .display-msg {
      display: block;
      font-family: "Luckiest Guy", cursive;
    }
    .searched-movie {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin: 5px 0;
      width: 40%;
      box-shadow: 3px 3px 6px lightgray;
      @media screen and (max-width: 768px) {
        width: 90%;
      }
      img {
        width: 33%;
      }
      .about-style {
        width: 60%;
        h2 {
          font-family: "Luckiest Guy", cursive;
          padding-bottom: 5px;
        }
        p {
          text-align: justify;
          font-family: "Patrick Hand", cursive;
        }
        .more-details {
          margin: 5px;
          border: none;
          outline: none;
          padding: 5px;
          background-color: lightgrey;
          color: #333;
          cursor: pointer;
          font-family: "Luckiest Guy", cursive;
          text-transform: capitalize;
          &:hover {
            background-color: grey;
            color: whitesmoke;
            padding: 7px;
          }
        }
      }
    }
  }
}
