@import "./../heading";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// movies part style
.container-leaves {
  position: relative;
  width: 100% !important;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#333, #000);
  border: 3px solid whitesmoke;
  border-radius: 20px;
  @media screen and (max-width: 768px) {
    height: 600px;
  }
  @media screen and (max-width: 320px) {
    height: 770px;
  }
  .back-leaves {
    position: absolute;
    width: 100%;
    height: 100%;
    .set-leaves {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      div {
        position: absolute;
        display: block;
      }
      div:nth-child(1) {
        left: 12.5%;
        img {
          width: 25%;
        }
        animation: animate-leaf 15s linear infinite;
        animation-delay: -7s;
      }
      div:nth-child(2) {
        left: 50%;
        img {
          width: 25%;
        }
        animation: animate-leaf 25s linear infinite;
        animation-delay: -5s;
      }
      div:nth-child(3) {
        left: 30%;
        img {
          width: 17.5%;
        }
        animation: animate-leaf 18s linear infinite;
        animation-delay: -10s;
      }
      div:nth-child(4) {
        left: 0%;
        img {
          width: 15%;
        }
        animation: animate-leaf 35s linear infinite;
        animation-delay: -2s;
      }
      div:nth-child(5) {
        left: 62.5%;
        img {
          width: 35%;
        }
        animation: animate-leaf 29s linear infinite;
        animation-delay: -5s;
      }
      div:nth-child(6) {
        left: 75%;
        img {
          width: 50%;
        }
        animation: animate-leaf 13s linear infinite;
        animation-delay: -2s;
      }
      div:nth-child(7) {
        left: 87.5%;
        img {
          width: 100%;
        }
        animation: animate-leaf 15s linear infinite;
        animation-delay: -7s;
      }
      div:nth-child(8) {
        left: 10%;
        img {
          width: 15%;
        }
        animation: animate-leaf 20s linear infinite;
        animation-delay: -3s;
      }
      div:nth-child(9) {
        left: 40%;
        img {
          width: 30%;
        }
        animation: animate-leaf 23s linear infinite;
        animation-delay: -4s;
      }
      div:nth-child(10) {
        left: 30%;
        img {
          width: 30%;
        }
        animation: animate-leaf 19s linear infinite;
        animation-delay: -5s;
      }
      @keyframes animate-leaf {
        0% {
          opacity: 0;
          top: 5px;
          transform: translateX(-20px) rotate(0deg);
        }
        10% {
          opacity: 1;
        }
        20% {
          transform: translateX(-20px) rotate(45deg);
        }
        100% {
          opacity: 0;
          top: 550px;
        }
      }
      @media screen and (min-width: 320px) {
        @keyframes animate-leaf {
          0% {
            opacity: 0;
            top: 5px;
          }
          10% {
            opacity: 1;
          }
          20% {
            transform: translateX(-20px) rotate(25deg);
          }
          100% {
            opacity: 0;
            top: 770px;
          }
        }
      }
    }
    .set-leaves2 {
      transform: scale(0.9) translateY(20deg);
      filter: blur(2px);
    }
  }
  .movies-style {
    position: absolute;
    top: 60px;
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
      top: 30px;
    }
    .movies {
      position: relative;
      padding: 50px;
      h1 {
        @include heading-style;
      }
      .circle {
        position: relative;
        overflow: hidden;
        img {
          position: relative;
          width: 100%;
          height: auto;
          border-radius: 50%;
        }
      }
      .circle1 {
        width: 35%;
        margin: 25px 5px 15px 5px;
        float: left;
        shape-outside: circle();
      }
      .circle2 {
        width: 40%;
        margin: 80px 0px 75px 5px;
        float: right;
        shape-outside: circle();
      }
      p {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        text-align: justify;
      }
      h3 {
        margin-top: 10px;
        color: white;
        text-align: center;
        font-family: "Luckiest Guy", cursive;
      }
    }
  }
}
