// game board and games style
@import "./../button-style";
@import "./memory-style";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .games {
    position: relative;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    .memory-games {
      width: 50%;
      position: fixed;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 5px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4), 5px 5px 5px rgba(0, 0, 0, 0.4),
        5px 5px 50px rgba(0, 0, 0, 0.4), 5px 5px 200px rgba(0, 0, 0, 0.4);
      .close {
        width: 100%;
        margin-left: 80%;
        margin-top: 5px !important;
        padding: 10px 0;
        background-color: transparent !important;
        box-shadow: none !important;
      }
      a {
        width: 40%;
        margin: 5%;
        img {
          width: 60%;
          margin: 0 20%;
          background-color: white !important;
        }
        &:hover {
          box-shadow: 2px 2px 5px rgb(180, 180, 180);
        }
      }
    }
    .no-display {
      display: none;
    }
    h1 {
      position: absolute;
      text-transform: capitalize;
      color: yellowgreen;
      font-size: 2rem;
      font-family: "Concert One", cursive;
      animation: animateTitle 2s linear infinite;
      @keyframes animateTitle {
        0% {
          opacity: 0.2;
          font-size: 2rem;
          text-transform: calitalize;
          color: yellowgreen;
        }
        25% {
          opacity: 0.4;
          font-size: 1.8rem;
          text-transform: lowercase;
          color: rgb(126, 126, 49);
        }
        50% {
          opacity: 0.7;
          font-size: 2.2rem;
          text-transform: capitalize;
          color: yellowgreen;
        }
        75% {
          opacity: 1;
          font-size: 2.5rem;
          text-transform: uppercase;
          color: rgb(49, 68, 11);
        }
        100% {
          opacity: 0.6;
          font-size: 2.2rem;
          text-transform: uppercase;
          color: rgb(96, 128, 33);
        }
      }
    }
    button {
      display: block !important;
      margin-top: 150px;
      padding: 10px;
      font-family: "Luckiest Guy", cursive;
      @include button-style;
    }
  }
  @media screen and (max-width: 1200px) {
    margin-top: 200px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 20px;
    justify-content: center;
    .games {
      width: 80%;
      .memory-games {
        width: 80%;
        a {
          img {
            width: 70%;
            margin: 0 15%;
          }
        }
      }
    }
  }
}

// food game style
.whole-page {
  background: url("./memory pictures/food/back.jpg");
  @include memory-style;
}

// sport game style
.sport-page {
  background: url("./memory pictures/sport/background.png");
  background-size: contain !important;
  background-position: center;
  @include memory-style;
}

// actors game style
.actors-page,
.cards-page {
  background: url("./memory pictures/actors/background.jpg");
  background-size: contain !important;
  background-position: center;
  @include memory-style;
  .memory-board {
    .win-msg {
      color: rgb(141, 23, 23) !important;
      margin-top: -180% !important;
    }
    a:hover {
      border: 3px solid rgb(141, 23, 23) !important;
      color: whitesmoke !important;
    }
    img {
      width: 80px !important;
    }
    @media screen and (max-width: 450px) {
      img {
        width: 65px !important;
      }
    }
  }
}

//cards page style
.cards-page {
  background: url("./memory pictures/cards/background1.png") !important;
  background: url("./memory pictures/cards/background.png") !important;
  background-size: cover !important;
  .memory-board {
    width: 520px !important;
    img {
      border-radius: 8px;
    }
  }
  @media screen and (max-width: 600px) {
    background-size: contain !important;
    .memory-board {
      width: 450px !important;
      img {
        width: 65px !important;
      }
    }
  }
  @media screen and (max-width: 400px) {
    .memory-board {
      width: 350px !important;
      img {
        width: 75px !important;
      }
    }
  }
}
