* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.game-board {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-board .games {
  position: relative;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-board .games .memory-games {
  width: 50%;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4), 5px 5px 5px rgba(0, 0, 0, 0.4), 5px 5px 50px rgba(0, 0, 0, 0.4), 5px 5px 200px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4), 5px 5px 5px rgba(0, 0, 0, 0.4), 5px 5px 50px rgba(0, 0, 0, 0.4), 5px 5px 200px rgba(0, 0, 0, 0.4);
}

.game-board .games .memory-games .close {
  width: 100%;
  margin-left: 80%;
  margin-top: 5px !important;
  padding: 10px 0;
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.game-board .games .memory-games a {
  width: 40%;
  margin: 5%;
}

.game-board .games .memory-games a img {
  width: 60%;
  margin: 0 20%;
  background-color: white !important;
}

.game-board .games .memory-games a:hover {
  -webkit-box-shadow: 2px 2px 5px #b4b4b4;
          box-shadow: 2px 2px 5px #b4b4b4;
}

.game-board .games .no-display {
  display: none;
}

.game-board .games h1 {
  position: absolute;
  text-transform: capitalize;
  color: yellowgreen;
  font-size: 2rem;
  font-family: "Concert One", cursive;
  -webkit-animation: animateTitle 2s linear infinite;
          animation: animateTitle 2s linear infinite;
}

@-webkit-keyframes animateTitle {
  0% {
    opacity: 0.2;
    font-size: 2rem;
    text-transform: calitalize;
    color: yellowgreen;
  }
  25% {
    opacity: 0.4;
    font-size: 1.8rem;
    text-transform: lowercase;
    color: #7e7e31;
  }
  50% {
    opacity: 0.7;
    font-size: 2.2rem;
    text-transform: capitalize;
    color: yellowgreen;
  }
  75% {
    opacity: 1;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #31440b;
  }
  100% {
    opacity: 0.6;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #608021;
  }
}

@keyframes animateTitle {
  0% {
    opacity: 0.2;
    font-size: 2rem;
    text-transform: calitalize;
    color: yellowgreen;
  }
  25% {
    opacity: 0.4;
    font-size: 1.8rem;
    text-transform: lowercase;
    color: #7e7e31;
  }
  50% {
    opacity: 0.7;
    font-size: 2.2rem;
    text-transform: capitalize;
    color: yellowgreen;
  }
  75% {
    opacity: 1;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #31440b;
  }
  100% {
    opacity: 0.6;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #608021;
  }
}

.game-board .games button {
  display: block !important;
  margin-top: 150px;
  padding: 10px;
  font-family: "Luckiest Guy", cursive;
  background: yellowgreen;
  color: rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 0 5px yellowgreen, 0 0 25px yellowgreen, 0 0 50px yellowgreen, 0 0 200px yellowgreen;
          box-shadow: 0 0 5px yellowgreen, 0 0 25px yellowgreen, 0 0 50px yellowgreen, 0 0 200px yellowgreen;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  font-size: 2rem;
  -webkit-animation: btn-animate 2s linear infinite;
          animation: btn-animate 2s linear infinite;
}

@-webkit-keyframes btn-animate {
  0% {
    font-size: 2rem;
  }
  25% {
    font-size: 2.1rem;
  }
  50% {
    font-size: 2.2rem;
  }
  75% {
    font-size: 2.1rem;
  }
  100% {
    font-size: 2rem;
  }
}

@keyframes btn-animate {
  0% {
    font-size: 2rem;
  }
  25% {
    font-size: 2.1rem;
  }
  50% {
    font-size: 2.2rem;
  }
  75% {
    font-size: 2.1rem;
  }
  100% {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .game-board {
    margin-top: 200px;
  }
}

@media screen and (max-width: 768px) {
  .game-board {
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .game-board .games {
    width: 80%;
  }
  .game-board .games .memory-games {
    width: 80%;
  }
  .game-board .games .memory-games a img {
    width: 70%;
    margin: 0 15%;
  }
}

.whole-page {
  background: url("./memory pictures/food/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.whole-page .memory-board {
  width: 450px;
  margin: 0 auto;
  padding: 5% 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whole-page .memory-board img {
  background-color: whitesmoke;
  visibility: visible;
  cursor: pointer;
  margin: 2px;
  width: 100px;
}

.whole-page .memory-board .win-msg {
  display: block;
  margin-top: -100%;
  font-size: 1.5rem;
  text-align: center;
}

.whole-page .memory-board .win-msg h1 {
  margin-bottom: 30px;
  font-family: "Luckiest Guy", cursive;
}

.whole-page .memory-board a {
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 2px;
  width: 80%;
  height: 100%;
  font-family: "Caveat Brush", cursive;
  border: 2px solid #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.whole-page .memory-board a:hover {
  border-radius: 30px;
  border: 3px solid yellowgreen;
  color: yellowgreen;
  background-color: #333;
  -webkit-box-shadow: 2px 2px 4px #333;
          box-shadow: 2px 2px 4px #333;
}

.whole-page .memory-board .no-display {
  display: none;
}

.whole-page .memory-board .other-games {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whole-page .memory-board .other-games a {
  border: none !important;
}

.whole-page .memory-board .other-games a img {
  width: 70px;
}

.whole-page .memory-board .other-games a img:hover {
  -webkit-box-shadow: 5px 5px 10px #333 !important;
          box-shadow: 5px 5px 10px #333 !important;
}

.whole-page .memory-board .other-games a:hover {
  border-radius: none !important;
  border: none !important;
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media screen and (max-width: 1200px) {
  .whole-page .memory-board {
    padding: 5% 0;
  }
}

@media screen and (max-width: 1000px) {
  .whole-page .memory-board {
    padding: 7% 0;
  }
}

@media screen and (max-width: 600px) {
  .whole-page .memory-board {
    width: 450px;
    margin: 0 auto;
    padding: 15% 0;
  }
}

@media screen and (max-width: 450px) {
  .whole-page .memory-board {
    width: 350px;
    margin: 0 auto;
  }
  .whole-page .memory-board img {
    width: 80px;
  }
}

.sport-page {
  background: url("./memory pictures/sport/background.png");
  background-size: contain !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.sport-page .memory-board {
  width: 450px;
  margin: 0 auto;
  padding: 5% 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sport-page .memory-board img {
  background-color: whitesmoke;
  visibility: visible;
  cursor: pointer;
  margin: 2px;
  width: 100px;
}

.sport-page .memory-board .win-msg {
  display: block;
  margin-top: -100%;
  font-size: 1.5rem;
  text-align: center;
}

.sport-page .memory-board .win-msg h1 {
  margin-bottom: 30px;
  font-family: "Luckiest Guy", cursive;
}

.sport-page .memory-board a {
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 2px;
  width: 80%;
  height: 100%;
  font-family: "Caveat Brush", cursive;
  border: 2px solid #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sport-page .memory-board a:hover {
  border-radius: 30px;
  border: 3px solid yellowgreen;
  color: yellowgreen;
  background-color: #333;
  -webkit-box-shadow: 2px 2px 4px #333;
          box-shadow: 2px 2px 4px #333;
}

.sport-page .memory-board .no-display {
  display: none;
}

.sport-page .memory-board .other-games {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sport-page .memory-board .other-games a {
  border: none !important;
}

.sport-page .memory-board .other-games a img {
  width: 70px;
}

.sport-page .memory-board .other-games a img:hover {
  -webkit-box-shadow: 5px 5px 10px #333 !important;
          box-shadow: 5px 5px 10px #333 !important;
}

.sport-page .memory-board .other-games a:hover {
  border-radius: none !important;
  border: none !important;
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media screen and (max-width: 1200px) {
  .sport-page .memory-board {
    padding: 5% 0;
  }
}

@media screen and (max-width: 1000px) {
  .sport-page .memory-board {
    padding: 7% 0;
  }
}

@media screen and (max-width: 600px) {
  .sport-page .memory-board {
    width: 450px;
    margin: 0 auto;
    padding: 15% 0;
  }
}

@media screen and (max-width: 450px) {
  .sport-page .memory-board {
    width: 350px;
    margin: 0 auto;
  }
  .sport-page .memory-board img {
    width: 80px;
  }
}

.actors-page,
.cards-page {
  background: url("./memory pictures/actors/background.jpg");
  background-size: contain !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.actors-page .memory-board,
.cards-page .memory-board {
  width: 450px;
  margin: 0 auto;
  padding: 5% 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actors-page .memory-board img,
.cards-page .memory-board img {
  background-color: whitesmoke;
  visibility: visible;
  cursor: pointer;
  margin: 2px;
  width: 100px;
}

.actors-page .memory-board .win-msg,
.cards-page .memory-board .win-msg {
  display: block;
  margin-top: -100%;
  font-size: 1.5rem;
  text-align: center;
}

.actors-page .memory-board .win-msg h1,
.cards-page .memory-board .win-msg h1 {
  margin-bottom: 30px;
  font-family: "Luckiest Guy", cursive;
}

.actors-page .memory-board a,
.cards-page .memory-board a {
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 2px;
  width: 80%;
  height: 100%;
  font-family: "Caveat Brush", cursive;
  border: 2px solid #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.actors-page .memory-board a:hover,
.cards-page .memory-board a:hover {
  border-radius: 30px;
  border: 3px solid yellowgreen;
  color: yellowgreen;
  background-color: #333;
  -webkit-box-shadow: 2px 2px 4px #333;
          box-shadow: 2px 2px 4px #333;
}

.actors-page .memory-board .no-display,
.cards-page .memory-board .no-display {
  display: none;
}

.actors-page .memory-board .other-games,
.cards-page .memory-board .other-games {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actors-page .memory-board .other-games a,
.cards-page .memory-board .other-games a {
  border: none !important;
}

.actors-page .memory-board .other-games a img,
.cards-page .memory-board .other-games a img {
  width: 70px;
}

.actors-page .memory-board .other-games a img:hover,
.cards-page .memory-board .other-games a img:hover {
  -webkit-box-shadow: 5px 5px 10px #333 !important;
          box-shadow: 5px 5px 10px #333 !important;
}

.actors-page .memory-board .other-games a:hover,
.cards-page .memory-board .other-games a:hover {
  border-radius: none !important;
  border: none !important;
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media screen and (max-width: 1200px) {
  .actors-page .memory-board,
  .cards-page .memory-board {
    padding: 5% 0;
  }
}

@media screen and (max-width: 1000px) {
  .actors-page .memory-board,
  .cards-page .memory-board {
    padding: 7% 0;
  }
}

@media screen and (max-width: 600px) {
  .actors-page .memory-board,
  .cards-page .memory-board {
    width: 450px;
    margin: 0 auto;
    padding: 15% 0;
  }
}

@media screen and (max-width: 450px) {
  .actors-page .memory-board,
  .cards-page .memory-board {
    width: 350px;
    margin: 0 auto;
  }
  .actors-page .memory-board img,
  .cards-page .memory-board img {
    width: 80px;
  }
}

.actors-page .memory-board .win-msg,
.cards-page .memory-board .win-msg {
  color: #8d1717 !important;
  margin-top: -180% !important;
}

.actors-page .memory-board a:hover,
.cards-page .memory-board a:hover {
  border: 3px solid #8d1717 !important;
  color: whitesmoke !important;
}

.actors-page .memory-board img,
.cards-page .memory-board img {
  width: 80px !important;
}

@media screen and (max-width: 450px) {
  .actors-page .memory-board img,
  .cards-page .memory-board img {
    width: 65px !important;
  }
}

.cards-page {
  background: url("./memory pictures/cards/background1.png") !important;
  background: url("./memory pictures/cards/background.png") !important;
  background-size: cover !important;
}

.cards-page .memory-board {
  width: 520px !important;
}

.cards-page .memory-board img {
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .cards-page {
    background-size: contain !important;
  }
  .cards-page .memory-board {
    width: 450px !important;
  }
  .cards-page .memory-board img {
    width: 65px !important;
  }
}

@media screen and (max-width: 400px) {
  .cards-page .memory-board {
    width: 350px !important;
  }
  .cards-page .memory-board img {
    width: 75px !important;
  }
}
/*# sourceMappingURL=GameBoard.css.map */