@import "./heading";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// home page component display style
.home-display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 120px;
  .music-display {
    margin-top: 10%;
    width: 45%;
  }
  .movies-display {
    width: 55%;
  }
  @media screen and (max-width: 768px) {
    margin-top: 80px;
    .music-display,
    .movies-display {
      margin-top: 0%;
      width: 100%;
    }
  }
}

// music part style
.container-cloud {
  background: skyblue;
  border: 3px solid whitesmoke;
  border-radius: 20px;
  width: 100% !important;
  height: 770px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  animation: animate-back 5s linear infinite;
  img {
    width: 100%;
  }
  .cloud1 {
    position: absolute;
    top: 60px;
    animation: cloud1 50s linear infinite;
  }
  .cloud2 {
    top: 430px;
    animation: cloud1 20s linear infinite;
  }
  .cloud3 {
    top: 130px;
    animation: cloud1 45s linear infinite;
  }
  .cloud4 {
    position: absolute;
    top: 50px;
    animation: cloud1 15s linear infinite;
  }
  .cloud5 {
    position: absolute;
    top: 500px;
    animation: cloud1 45s linear infinite;
  }
  .cloud6 {
    position: absolute;
    top: 170px;
    animation: cloud1 35s linear infinite;
  }
  .cloud7 {
    position: absolute;
    top: 220px;
    animation: cloud1 25s linear infinite;
  }
  .cloud8 {
    position: absolute;
    top: 290px;
  }
  @keyframes cloud1 {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @media screen and (max-width: 768px) {
    .cloud1 {
      top: 100px;
    }
    .cloud2 {
      top: 220px;
    }
    .cloud3 {
      top: 150px;
    }
    .cloud4 {
      top: 500px;
    }
  }
  .home-style {
    position: absolute;
    top: 60px;
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
      top: 30px;
    }
    .music {
      background-image: url("./pictures/music/music1.png");
      background-repeat: no-repeat;
      background-position: 90% 75%;
      background-size: 40%;
      position: relative;
      padding: 50px 5px 5px 5px;
      @media screen and (max-width: 768px) {
        background-position: 90% 60%;
        padding: 50px;
      }
      @media screen and (max-width: 500px) {
        top: 50px;
        padding: 10px;
        background-position: 90% 100%;
      }
      .circle {
        position: relative;
        overflow: hidden;
        img {
          position: relative;
          width: 100%;
          height: auto;
          border-radius: 50%;
        }
      }
      .circle1 {
        width: 25%;
        margin: 25px 5px 15px 5px;
        float: left;
        shape-outside: circle();
      }
      .circle2 {
        width: 40%;
        margin: 80px 0px 75px 5px;
        float: right;
        shape-outside: circle();
      }
      .circle3 {
        width: 50%;
        margin: 150px 5px;
        float: left;
        shape-outside: circle();
      }
      h1 {
        @include heading-style;
      }
      p {
        padding: 10px;
        text-align: justify;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
      }
      h3 {
        text-align: center;
        font-family: "Luckiest Guy", cursive;
      }
    }
  }
}
