@import "./../Home/heading";
@import "./../animate-navbar";
@import "./../button-style";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(27, 27, 27);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  h1 {
    margin: 0 !important;
    @include heading-style;
  }
  button {
    @include button-style;
  }
  .navbar-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      position: relative;
      padding: 25px 30px;
      margin: 10px 10px;
      color: yellowgreen;
      font-family: "Luckiest Guy", cursive;
      font-size: 24px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: 0.5s;
      letter-spacing: 4px;
      &:hover {
        background: yellowgreen;
        color: rgba(0, 0, 0, 0.9);
        box-shadow: 0 0 5px yellowgreen, 0 0 25px yellowgreen,
          0 0 50px yellowgreen, 0 0 200px yellowgreen;
      }
      &:nth-child(1) {
        filter: hue-rotate(290deg);
      }
      &:nth-child(3) {
        filter: hue-rotate(110deg);
      }
      span {
        @include animate-navbar;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          background: linear-gradient(
            90deg,
            transparent,
            yellowgreen
          ) !important;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    h1 {
      width: 70%;
    }
    .navbar-style {
      flex-direction: column;
      width: 0;
      height: 0;
      overflow: hidden;
    }
    .show-navbar {
      height: 100%;
      width: 100%;
      animation: nav-animate 2s linear forwards;
    }
    @keyframes nav-animate {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    button {
      display: flex;
      align-items: center;
      float: right;
      margin-left: 10%;
      &:focus {
        outline: none;
      }
    }
  }
}
